@model IEnumerable<Capitulo03.Models.Instituicao>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <p>
        <a asp-action="Create">Criar</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayNameFor(modelItem => item.Nome)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.InstituicaoID">Editar</a>
                        <a asp-action="Details" asp-route-id="@item.InstituicaoID">Detalhes</a>
                        <a asp-action="Delete" asp-route-id="@item.InstituicaoID">Deletar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
